* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f9fbff;
  color: #222;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input {
  font-family: inherit;
  outline: none;
  border: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 1rem;
}